@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  background: var(--color-white);
  overflow-x: hidden !important;
}

:root {
  --color-white: #ffffff;
  --color-light-blue: #ddecf8;
  --input-bg-color: #f8f8f8;
  --color-yellow: #d1bc7a;
  --color-orange: #df7a5e;
  --color-grey: #f5f5f5;
  --color-dark-blue: #2d4e66;
  --color-paragraph: #1c1c1c;
}

/* Navbar------------------------------- */

.offcanvas_clear_icon {
  box-shadow: none !important;
}

.nav_hamburger {
  color: var(--color-dark-blue) !important;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.nav_hamburger:hover {
  color: var(--color-orange) !important;
}

.nav_link {
  font-size: 20px !important;
  font-weight: 500 !important ;
  color: var(--color-dark-blue) !important;
  transition: all 300ms ease-in-out !important;
  cursor: pointer !important;
}
.nav_link:hover {
  transform: translateX(3px);
  color: var(--color-orange) !important;
}

.nav_logo_img_div {
  position: relative;
  height: 5vh;
  width: calc(10rem + 2vw);
  cursor: pointer;
  margin-left: -180px !important;
}

@media only screen and (max-width: 800px) {
  .nav_logo_img_div {
    margin-left: -30px !important;
  }
}

@media only screen and (max-width: 500px) {
  .nav_logo_img_div {
    margin-left: -60px !important;
  }
}

.nav_link_active {
  color: var(--color-orange) !important;
  font-size: 20px !important;
  font-weight: 500 !important ;
  cursor: pointer !important;
}
/* Hero Banner Section---------------- */
.hero_button {
  background-color: var(--color-orange) !important;
  color: var(--color-white) !important;
}
.hero_banner_img_div {
  height: 100vh;
  width: 100% !important;
  position: relative;
}

@media only screen and (max-width: 700px) {
  .hero_banner_img_div {
    height: 50vh;
  }
}

.title_button_div {
  position: absolute;
  top: 45%;
  left: 65%;
  width: 300px;
}
@media only screen and (max-width: 1000px) {
  .title_button_div {
    top: 25%;
    left: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .title_button_div {
    top: 45%;
    left: 0%;
    width: 100%;
    padding: 0px 20px;
  }
}

/* Shop by category Section---------------- */
.category_img_div {
  position: relative;
  height: 65vh !important;
  overflow: hidden;
  cursor: pointer;
}

.category_img_div_desc {
  position: absolute;
  bottom: -110px;
  transition: all 300ms ease-in-out;
  color: var(--color-white) !important;
}

.category_img_div:hover .category_img_div_desc {
  transform: translateY(-120px);
}

/* Featured Product ----------------- */

.featured_product_item_desc {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  background-color: #0230479d;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: var(--color-white);
  cursor: pointer !important;
}

.feature_product_image_div {
  position: relative;
  height: 70vh;
  cursor: pointer !important;
}

@media only screen and (max-width: 1000px) {
  .feature_product_image_div {
    height: 45vh;
  }
}
@media only screen and (max-width: 600px) {
  .feature_product_image_div {
    height: 30vh;
  }
}

/* Trending Section---------------- */
.trending_item {
  cursor: pointer;
}
.trending_image_div {
  position: relative;
  height: 500px;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .trending_image_div {
    height: 350px;
  }
}

/* Text image section  */
.text_img_wrapper {
  padding: 100px 0px;
}

.text_img_section_img_div {
  position: relative;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .text_img_section_img_div {
    height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .text_img_section_img_div {
    height: 200px;
  }
}

/* Review section  -------------*/
.review_wrapper {
  background-color: var(--color-light-blue);
  padding: 70px 0px;
  margin-bottom: 100px;
}

/*  */

/* Footer -------------------*/
.footer_wrapper {
  padding-top: 150px;
}

.footer_last_row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_icon_div1 {
  background-color: #55acee;
  color: var(--color-white);
}

.footer_icon_div2 {
  background-color: #2d4e66;
  color: var(--color-white);
}

.footer_icon_div3 {
  background-color: #f77737;
  color: var(--color-white);
}

.subscribe_input {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0) !important;
}

.subscribe_input:focus {
  border-bottom: 1px solid rgba(128, 128, 128, 0.466) !important;
}

/* Login page-----------------------------*/
.login_wrapper {
  padding-top: 150px;
}
.register_input {
  outline: none !important;
  font-size: 18px !important;
}

.register_input:focus {
  box-shadow: none !important;
  border-color: var(--color-yellow) !important;
}

.login_input_div {
  border: 1px solid rgba(128, 128, 128, 0.356);
}

.login_input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 20px !important;
  color: var(--color-dark-blue) !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.login_button {
  padding: 12px 0px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  background-color: var(--color-yellow) !important;
  color: var(--color-white) !important;
}

.login_form_box {
  width: 50% !important;
}

@media only screen and (max-width: 1000px) {
  .login_form_box {
    width: 80% !important;
  }
}

@media only screen and (max-width: 767px) {
  .login_form_box {
    width: 100% !important;
  }
}

/* Contact page------------------ */
.contact_page_wrapper {
  margin-top: 120px !important;
}

.contact_heading_div {
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.contact_heading {
  color: var(--color-dark-blue);
}

.contact_heading::after {
  content: "";
  display: block;
  width: 190px;
  height: 3px;
  margin-top: 10px;
  background: var(--color-dark-blue);
}

.shadow_box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 80px;
}

.contact_input {
  box-shadow: none !important;
  color: var(--color-dark-blue) !important;
  font-size: 20px !important;
}
.contact_input:focus {
  border-color: var(--color-yellow) !important;
}

.contact_social_icon {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: var(--color-dark-blue);
}

.contact_social_icon:hover {
  transform: translateY(-3px);
  color: var(--color-orange);
}

.contact_text_area {
  min-height: 200px !important;
}

/* Blog page ------------------------ */

.second_featured_article_img_div {
  position: relative;
  overflow: hidden;
  height: 50vh;
}

.monkey {
  position: relative;
}

.second_featured_article_desc_div {
  position: absolute;
  background-color: var(--color-white);
  top: 20%;
  right: 0;
  display: block;
}

@media only screen and (max-width: 500px) {
  .second_featured_article_desc_div {
    display: none;
  }
}

.single_blog_image_div {
  position: relative;
  height: 700px;
}

.global_para {
  font-size: 19px !important;
  line-height: 35px;
}

.author_image_div {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.about_author_div {
  padding-top: 100px;
  padding-bottom: 50px;
}

.featured_product_item {
  position: relative;
}

.featured_article_image_div {
  position: relative;
  height: 60vh;
}

.featured_article_desc_div {
  background-color: var(--color-white);
  position: absolute;
  top: 55px;
  width: calc(45rem - 2vw);
  left: 60px;
}

@media only screen and (max-width: 810px) {
  .featured_article_desc_div {
    left: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .featured_article_desc_div {
    display: none;
  }
}

.single_blog_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.single_blog_img_div {
  position: relative;
  height: 40vh;
}

/* Product page--------------------- */

.search_input {
  box-shadow: none !important;
  font-size: 22px !important;
}
.search_input:focus {
  border-color: var(--color-yellow) !important;
  color: var(--color-dark-blue) !important;
}

.product_hero {
  margin-bottom: 150px !important;
}

.product_banner_image_div {
  position: relative;
  height: 90vh;
}

/* .product_search_div_wrapper {
  width: 100% !important;
} */

.product_search_div {
  position: absolute;
  bottom: -120px;
  background-color: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(16rem + 35vw) !important;
}

.product_left_div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product_left_img_div {
  position: relative;
  height: 65vh;
}

.quantity_input {
  border-radius: 0px !important;
  box-shadow: none !important;
}
.quantity_input:focus {
  border-color: var(--color-yellow) !important;
}

.add_cart_btn {
  background-color: var(--color-orange) !important;
  color: var(--color-white) !important;
  font-size: 18px !important;
}

.single_product_swiper_img_div {
  position: relative;
  height: 65vh;
}

@media only screen and (max-width: 1000px) {
  .single_product_swiper_img_div {
    height: 40vh;
  }
}

@media only screen and (max-width: 600px) {
  .single_product_swiper_img_div {
    height: 30vh;
  }
}

/* Checkout page-------------------------- */
.checkout_input {
  box-shadow: none !important;
}
.checkout_input:focus {
  border-color: var(--color-yellow) !important;
}

/* Category page -------------*/

/* About page------------------ */
.about_logo_div {
  position: relative;
  height: 15vh;
  width: 100%;
}

.about_hero {
  padding: 150px calc(40rem - 5vw) !important;
}

.about_sec_1_right_img_div {
  position: relative;
  height: 50vh;
}

.about_swiper_img_div {
  position: relative;
  height: 60vh;
}
.about_swiper_desc_div {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.grey_bg {
  background-color: var(--color-grey);
  padding-top: 200px;
  padding-bottom: 140px;
  padding-left: 100px;
  padding-right: 100px;
}

.dark_blue {
  color: var(--color-dark-blue);
}

.fz18 {
  font-size: 18px;
  color: var(--color-paragraph) !important;
}

.fz18_dark_blue {
  font-size: 18px;
  color: var(--color-dark-blue) !important;
}

.para_color {
  color: var(--color-paragraph);
}

.about_swiper_section {
  padding-left: 280px;
}

.color_white {
  color: var(--color-white) !important;
}

.color_orange {
  color: var(--color-orange) !important;
}

.color_yellow {
  color: var(--color-yellow) !important;
}

.cp {
  cursor: pointer !important;
}

/* Single product page-------------- */
.single_product_page_wrapper {
  margin-top: 160px;
}

.select_size_input_custom {
  height: 25px !important;
  width: 25px !important;
  border-radius: 0% !important;
  /* background-color: var(--color-white) !important; */
  box-shadow: none !important;
  border-color: none !important;
  cursor: pointer;
}

.select_size_input_custom:focus {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}
.select_size_input_custom:checked {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}

.select_size_input_custom_label {
  font-size: 20px !important;
  padding-left: 7px;
  padding-right: 15px;
}

.select_color_input_custom {
  padding: 10px !important;
  background-color: var(--color-white) !important;
  box-shadow: none !important;
  border-color: none !important;
  cursor: pointer;
}

.select_color_input_custom:focus {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}
.select_color_input_custom:checked {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}

.select_size_input_custom_label {
  font-size: 20px !important;
  padding-left: 7px;
  padding-right: 15px;
}

/* Cart page-------------------- */
.cart_page_wrapper {
  margin-top: 150px !important;
}

.cart_image_div {
  position: relative;
  height: 20vh;
}

.cart_payment_info {
  background-color: #e5e5e5;
}

.check_box {
  box-shadow: none !important;
  border: none !important;
  border: 1px solid var(--color-dark-blue) !important;
}

.check_box:checked {
  background-color: var(--color-orange) !important;
  border: none !important;
}

.forgot_pass {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.forgot_pass:hover {
  color: var(--color-orange) !important;
}
