@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  background: var(--color-white);
  overflow-x: hidden;
}

:root {
  --color-white: #ffffff;
  --color-light-blue: #ddecf8;
  --input-bg-color: #f8f8f8;
  --color-yellow: #d1bc7a;
  --color-orange: #df7a5e;
  --color-grey: #f5f5f5;
  --color-dark-blue: #2d4e66;
  --color-paragraph: #1c1c1c;
}

/* Navbar------------------------------- */

/* Hero Banner Section---------------- */
.hero_button{
  background-color: var(--color-orange) !important;
  color: var(--color-white) !important;
  
}
.hero_banner_img_div {
  height: 100vh;
  width: 100%;
  position: relative;
}

.title_button_div {
  position: absolute;
  top: 45%;
  left: 65%;
  width: 300px;
}

/* Shop by category Section---------------- */
.category_img_div {
  position: relative;
  height: 65vh !important;
  overflow: hidden;
}

.category_img_div_desc{
  position: absolute;
  bottom: -110px;
  transition: all 300ms ease-in-out;
  color: var(--color-white) !important;
}

.category_img_div:hover .category_img_div_desc{
  transform: translateY(-350px);
}

/* Featured Product ----------------- */
.featured_product_img{
  position: relative;
  height: 70vh;
  overflow: hidden !important;
}

.featured_product_img_desc{
  position: absolute;
  color: var(--color-white);
  bottom: 0px;
  background-color: #0000 !important;

}

/* Trending Section---------------- */
.trending_image_div {
  position: relative;
  height: 600px;
  overflow: hidden;
}

/* Text image section  */
.text_img_wrapper {
  padding: 100px 0px;
}

.text_img_section_img_div {
  position: relative;
  height: 500px;
}

/* Review section  -------------*/
.review_wrapper {
  background-color: var(--color-light-blue);
  padding: 70px 0px;
  margin-bottom: 100px;
}

/*  */

/* Footer -------------------*/
.footer_wrapper {
  padding-top: 60px;
}

.footer_last_row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_icon_div1 {
  background-color: #55acee;
  color: var(--color-white);
}

.footer_icon_div2 {
  background-color: #2d4e66;
  color: var(--color-white);
}

.footer_icon_div3 {
  background-color: #f77737;
  color: var(--color-white);
}

.subscribe_input {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0) !important;
}

.subscribe_input:focus {
  border-bottom: 1px solid rgba(128, 128, 128, 0.466) !important;
}

/* Login page-----------------------------*/
.register_input {
  outline: none !important;
  font-size: 18px !important;
}

.register_input:focus {
  box-shadow: none !important;
  border-color: var(--color-yellow) !important;
}

.login_input_div {
  border: 1px solid var(--input-bg-color);
}

.login_button {
  padding: 12px 0px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  background-color: var(--color-yellow) !important;
  color: var(--color-white) !important;
}

/* Contact page------------------ */
.shadow_box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact_input {
  box-shadow: none !important;
}
.contact_input:focus {
  border-color: var(--color-yellow) !important;
}

.contact_social_icon {
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.contact_social_icon:hover {
  transform: translateY(-3px);
  color: var(--color-yellow);
}

/* Blog page ------------------------ */
.single_blog_image_div {
  position: relative;
  height: 700px;
}

.global_para {
  font-size: 19px !important;
  line-height: 35px;
}

.author_image_div {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.about_author_div {
  padding-top: 100px;
  padding-bottom: 50px;
}

.featured_article_image_div {
  position: relative;
  height: 60vh;
}

.featured_article_desc_div {
  background-color: var(--color-white);
  position: absolute;
  top: 55px;
  width: 35%;
}

.single_blog_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.single_blog_img_div {
  position: relative;
  height: 40vh;
}

.second_featured_article_img_div {
  position: relative;
  height: 65vh;
}

.second_featured_article_desc_div {
  background-color: var(--color-white);
  position: absolute;
  top: 15%;
  right: 0;
  width: 35%;
}

/* Product page--------------------- */

.product_banner_image_div {
  position: relative;
  height: 90vh;
}

.product_search_div {
  position: absolute;
  bottom: -100px;
  background-color: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product_left_div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product_left_img_div {
  position: relative;
  height: 60vh;
}

.quantity_input {
  border-radius: 0px !important;
  box-shadow: none !important;
}
.quantity_input:focus {
  border-color: var(--color-yellow) !important;
}

.add_cart_btn {
  background-color: var(--color-orange) !important;
  color: var(--color-white) !important;
  font-size: 18px !important;
}

.single_product_swiper_img_div {
  position: relative;
  height: 60vh;
}

/* Checkout page-------------------------- */
.checkout_input {
  box-shadow: none !important;
}
.checkout_input:focus {
  border-color: var(--color-yellow) !important;
}

/* About page------------------ */

.about_hero {
  padding: 40px 600px !important;
}

.about_sec_1_right_img_div {
  position: relative;
  height: 50vh;
}

.about_swiper_img_div {
  position: relative;
  height: 60vh;
}
.about_swiper_desc_div {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.grey_bg {
  background-color: var(--color-grey);
  padding-top: 200px;
  padding-bottom: 140px;
  padding-left: 100px;
  padding-right: 100px;
}

.dark_blue {
  color: var(--color-dark-blue);
}

.fz18 {
  font-size: 18px;
  color: var(--color-paragraph);
}

.para_color {
  color: var(--color-paragraph);
}

.about_swiper_section {
  padding-left: 280px;
}

.color_white {
  color: var(--color-white) !important;
}

.color_orange {
  color: var(--color-orange) !important;
}

.color_yellow {
  color: var(--color-yellow) !important;
}

.cp{
  cursor: pointer !important;
}
